button {
  all: unset
}

.tasksContainer {
    display: flex;
    align-items: center;

    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    
    background-color: var(--gray-500);

}

.checkboxRoot {
  background-color: transparent;
  width: 17px;
  height: 17px;
  border-radius: 9999px;
  border: 2px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.checkboxRoot:hover {
  background-color: var(--blue-dark);
}

.checkboxRoot [data-state="cheked"] {
  background-color: aqua;
}

.checkboxIndicator {
  color: var(--violet11);
}

.chekedIcon {
  margin-top: 0.3rem;
  margin-right: 0.03rem;
}

.label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  user-select: none;
}